## 함수 심화 (p178)

In [3]:
def f():
    global s # 전역변수 사용하겠다
    s="나는 영국을 좋아해요" # 전역 변수의 값을 변경했어요
    print(s)

In [4]:
s="나는 파리를 사랑해요"
print(s)
f()
print(s)

나는 파리를 사랑해요
나는 영국을 좋아해요
나는 영국을 좋아해요

## 재귀함수

$$ n! = n\cdot (n-1) \cdot \cdot \cdot 2 \cdot 1 = \prod_{i=1}^{n} i $$

<img src="factorial.jpg" style="height:200px; width:200px;"/>

<img src="fact.gif" style="height:200px; width:200px;"/>

<img src="output.gif" style="height:200px; width:300px;"/>

In [9]:
def factorial(n):
    if n==1: # 종료 조건
        return 1
    else:
        return n* factorial(n-1) # 자가 자신을 숫자 1 감소한 후 호출

In [10]:
factorial(5)

120

$$ \omega = 2 \pi f \rightarrow w = 각속도 , f = 주파수 , 각속도 \omega = = \frac{\theta}{t} $$
## 시간에 따라 얼마나 각도가 많이 변하는가? 미분
$$ v = \frac{s}{t} \rightarrow v = 속도 , s = 거리, t = 시간 $$

p183

In [16]:
def print_something_2(my_name, your_name="팀명"):
    return "안녕 {0} 아, 내 이름은 {1}".format(your_name, my_name)

In [14]:
print_something_2("길동")

안녕 팀명 아, 내 이름은 길동

In [18]:
[print_something_2(i) for i in ("재오","은석","예림","우진","휘완","선희","영채","중권","다원")]

['안녕 팀명 아, 내 이름은 재오',
 '안녕 팀명 아, 내 이름은 은석',
 '안녕 팀명 아, 내 이름은 예림',
 '안녕 팀명 아, 내 이름은 우진',
 '안녕 팀명 아, 내 이름은 휘완',
 '안녕 팀명 아, 내 이름은 선희',
 '안녕 팀명 아, 내 이름은 영채',
 '안녕 팀명 아, 내 이름은 중권',
 '안녕 팀명 아, 내 이름은 다원']

In [29]:
tuple_list = ("재오","은석","예림","우진","휘완","선희","영채","중권","다원")
list_string = [print_something_2(i, i+str(idx+1)) for idx, i in zip(range(len(tuple_list)), tuple_list) ]
list_string[0][5:10]
[ i[5:10] for i in list_string]

['1 아, ',
 '2 아, ',
 '3 아, ',
 '4 아, ',
 '5 아, ',
 '6 아, ',
 '7 아, ',
 '8 아, ',
 '9 아, ']

## 가변인수

In [37]:
def asteric_test(a, b, *args, **v):
    print(v)
    return a+ b +sum(args)

In [49]:
def asteric_test2(*args, **v):
    # print(v)
    merge=''
    for i in v.keys():
        # print(i)
        pass
    for j in v['a']:
        merge += j+str(v['b'])
    return merge
    # return a+ b +sum(args)

In [50]:
asteric_test2(a=['hong','kil','dong'], b=13 )

'hong13kil13dong13'

In [51]:
iteration_max=10000
vector = list(range(iteration_max))
scalar = 2
for _ in range(iteration_max):
    print([scalar*value for value in range(iteration_max)])

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)