## QUEUE(FIFO, First Input, First Output)(p240)

In [ ]:
a=[1,2,3,4,5]
a.append(10)
a.append(20)

In [ ]:
list_reverse=[]
for i in range(len(a)):
    list_reverse.append(a.pop())
list_reverse

In [1]:
import queue

In [5]:
q = queue.Queue() # First in First Out (FIFO) 선입선출

In [6]:
for i in range(20):
    q.put(i)

In [7]:
for i in range(20):
    print(q.get())

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
from collections import deque # 스택 후입선출

In [12]:
dq=deque()
for i in range(10):
    dq.append(i)

In [13]:
for i in range(10):
    print(dq.pop())

9
8
7
6
5
4
3
2
1
0

In [14]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl.metadata (4.6 kB)
Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl (203 kB)
   ---------------------------------------- 0.0/203.2 kB ? eta -:--:--
   -- ------------------------------------- 10.2/203.2 kB ? eta -:--:--
   -------------- ------------------------- 71.7/203.2 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 203.2/203.2 kB 2.5 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.4

In [15]:
import MySQLdb

In [16]:
db=MySQLdb.connect(host='localhost', user='root', password='1234', db='izen')
cur = db.cursor()

In [17]:
sql = "select * from score_tbl"

In [22]:
cur.execute(sql)

10

In [20]:
row = cur.fetchall()
# row

In [23]:
row = cur.fetchone()
row

(1, 100, 100, 100, 89.7, 17.6, '수')

In [24]:
cur.execute(sql)
while True:
    row = cur.fetchone()
    if row :
        print(row)
    else :
        break

(1, 100, 100, 100, 89.7, 17.6, '수')
(2, 100, 100, 100, 89.7, 17.6, '수')
(3, 100, 100, 100, 89.7, 17.6, '수')
(4, 100, 100, 100, 89.7, 17.6, '수')
(5, 100, 100, 100, 89.7, 17.6, '수')
(6, 100, 100, 100, 89.7, 17.6, '수')
(7, 100, 100, 100, 89.7, 17.6, '수')
(8, 100, 100, 100, 89.7, 17.6, '수')
(9, 100, 100, 100, 89.7, 17.6, '수')
(10, 100, 100, 100, 89.7, 17.6, '수')

In [28]:
sql = "insert into score_tbl( math, eng, korea, total, avg, grade) values (%s, %s, %s, %s, %s, %s)"

In [33]:
import random
random.randint(1,100)

68

In [30]:
data=('45', '78', '90', '45.7', '67.8', '가')
cur.execute(sql, data) # 두번째 인자를 tuple 이어야 한다
db.commit()

In [38]:
t = tuple()
t +=('30', '40')
t

('30', '40')

In [39]:
t[0]

'30'

In [51]:
import random

In [47]:
def getTotalAndAvg(i):
    return (sum(i), sum(i)/len(i))

In [53]:
def calcGrade(i):
    if i>=90:return '수'
    elif i>=80: return '우'
    elif i>=70: return '미'
    elif i>=60: return '양'
    else: return '가'

In [57]:
for i in range(100):
    t = tuple()
    for j in range(3):
        t += (random.randint(60,100),)
        total, avg = getTotalAndAvg(t)
        grade = calcGrade(avg)
    t += (total, avg, grade)
    print(t)
    cur.execute(sql,t)
db.commit()

(80, 69, 83, 232, 77.33333333333333, '미')