<h1>pandas</h1>

In [1]:
import numpy as np
import pandas as pd

## Series(시리즈) : 1차원 배열
## 데이터프레임 : 엑셀형태의 데이터, 2차원

<ul>
    <li>넘파이(numpy): 수치해석, 숫자를 연산함</li>
    <li>판다스(pandas): 데이터 분석 도구</li>
    <li>matplotlib : 시각화 도구</li>
</ul>

In [ ]:
A = [[1,2,3],[4,5,6],[11,23,25]]
B = [[11,22,13],[14,15,16],[111,213,215]]

A_np = np.array(A)
B_np = np.array(B)
A_np*B_np

In [ ]:
np.dot(A_np, B_np)

In [ ]:
A_np[0].T.dot(B_np[0])

In [ ]:
s = pd.Series([1,3,5,np.nan, 6,8]) # Series
s

In [ ]:
dates = pd.date_range("20130101", periods=6)
dates

In [ ]:
list("홍길동")

In [ ]:
np.random.randn(6,4)
# 6행 4열의 행열을 생성하는데 각각의 데이터는 정규 분포를 따르며 랜덤으로 값을 생성한다

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

<img src="images/11.gif"/>

$$
    \begin{bmatrix}
 cos  \theta  & -sin  \theta   \\ 
 sin  \theta  & cos  \theta
\end{bmatrix}
$$

In [ ]:
import math

In [ ]:
math.radians(180/ math.pi) # 각도를 radian으로 변환 , 360도는 2 phi , phi = 3.14

In [ ]:
np.cos( 45)

In [ ]:
np.cos( 90)

$$ 45 : 180 = x : 3.14 \rightarrow x= (45*3.14)/180 $$

In [ ]:
def degreeToRardian(i):
    return (i*3.14)/180

In [ ]:
degreeToRardian(180)

In [ ]:
[np.cos(i) for i in [45,60,90,78]]

In [ ]:
[np.cos(degreeToRardian(i)) for i in [45,60,90,78]]

In [ ]:
A = [[[np.cos(degreeToRardian(i)), -np.sin(degreeToRardian(i))],
    [np.sin(degreeToRardian(i)), np.cos(degreeToRardian(i))]] for i in [30,45,60,90]]
for i in A:
    print(i)

In [ ]:
B=1/np.sqrt(2)
B

In [ ]:
np.dot(A, np.array([1,0]))

In [ ]:
np.dot(np.array([-1,1]), np.array([2,2]))

In [11]:
df.dtypes

NameError: name 'df' is not defined

In [ ]:
df.describe()
# 평균, 갯수, 표준편차(standard deviation)
# 최소(min),최대(max), 1사분(25%), 2사분(50%), 3사분(75%)

In [2]:
red_df = pd.read_csv('data/winequality-red.csv', sep=';', header=0, engine='python')
red_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
white_df = pd.read_csv('data/winequality-white.csv', sep=';', header=0, engine='python')
white_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [12]:
red_df.insert(0,column='type', value='red')

In [13]:
red_df.head(1)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [14]:
red_df.shape #1599 = tuple

(1599, 13)

In [15]:
white_df.insert(0,column='type', value='white')

In [16]:
white_df.head(1)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6

In [17]:
wine = pd.concat([red_df, white_df]) # 병합
wine.to_csv('data/winenew.csv')

## 데이터 탐-색

In [18]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6497 entries, 0 to 4897
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6497 non-null   float64
 2   volatile acidity      6497 non-null   float64
 3   citric acid           6497 non-null   float64
 4   residual sugar        6497 non-null   float64
 5   chlorides             6497 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6497 non-null   float64
 10  sulphates             6497 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 710.6+ KB

In [19]:
wine.columns = wine.columns.str.replace( ' ', '_') # column의 이름 변경
wine.head(1)

,type,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [20]:
wine.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [21]:
sorted(wine.quality.unique()) # wine datafrome 의 column이 quality인 것의 고유한 데이터만 추출

[3, 4, 5, 6, 7, 8, 9]

In [22]:
wine.groupby('type')['quality'].describe()

        count      mean       std  min  25%  50%  75%  max
type
red    1599.0  5.636023  0.807569  3.0  5.0  6.0  6.0  8.0
white  4898.0  5.877909  0.885639  3.0  5.0  6.0  6.0  9.0

In [23]:
wine.groupby('type')['quality'].mean()

type
red      5.636023
white    5.877909
Name: quality, dtype: float64

In [24]:
wine.groupby('type')['quality'].std()

type
red      0.807569
white    0.885639
Name: quality, dtype: float64

In [25]:
wine.groupby('type')['quality'].agg(['mean','std'])

           mean       std
type
red    5.636023  0.807569
white  5.877909  0.885639

In [26]:
df_user = pd.DataFrame({
    'no':[1,2,3,4,1,1,2,2,4],
    'math':[30,40,50,60,50,100,20,70,90]
})
df_user

   no  math
0   1    30
1   2    40
2   3    50
3   4    60
4   1    50
5   1   100
6   2    20
7   2    70
8   4    90

In [38]:
def user_f(i):
    return str(i.max()-i.min())+"이고, 갯수는 "+str(i.count())+" 입니다"

In [34]:
df_user.groupby('no')['math'].mean()

no
1    60.000000
2    43.333333
3    50.000000
4    75.000000
Name: math, dtype: float64

In [39]:
df_user.groupby('no')['math'].agg(['mean',user_f])

         mean           user_f
no
1   60.000000  70이고, 갯수는 3 입니다
2   43.333333  50이고, 갯수는 3 입니다
3   50.000000   0이고, 갯수는 1 입니다
4   75.000000  30이고, 갯수는 2 입니다